### Это просто загрузчик данных. Он готовит формат пикл.

Можно избежать этого. Но нужно в остальных блокнотах поправить тоже.

In [1]:
import pandas as pd

In [3]:
for cz in range(1,3): #Для 1 и 2 ценовой зоны
    xls = pd.ExcelFile(f'../data/load_train-{cz}cz.xlsx')
    print('Загружен файл:', f'load_train-{cz}cz.xlsx')
    for sheet in xls.sheet_names: #Для каждого листа в файле обработаем фрейм и сохраним
        pd.read_excel(xls, sheet, skiprows=5, header=[0,1]).fillna(method='ffill', axis=0).to_pickle(f'../models/data_{sheet}-{cz}cz.pkl')
        print('Сохранен лист', sheet, 'в отдельный файл', f'data_{sheet}-{cz}cz.pkl')
    print('\n')

Загружен файл: load_train-1cz.xlsx
Сохранен лист RSV в отдельный файл data_RSV-1cz.pkl
Сохранен лист VSVGO в отдельный файл data_VSVGO-1cz.pkl
Сохранен лист RSV_FACT в отдельный файл data_RSV_FACT-1cz.pkl


Загружен файл: load_train-2cz.xlsx
Сохранен лист RSV в отдельный файл data_RSV-2cz.pkl
Сохранен лист VSVGO в отдельный файл data_VSVGO-2cz.pkl
Сохранен лист RSV_FACT в отдельный файл data_RSV_FACT-2cz.pkl

In [4]:
pd.read_excel(xls, sheet, skiprows=5, header=[0,1]).fillna(method='ffill', axis=0)

     Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Алтайский край  \
         Названия строк           N месяца              N дня            0-1
0                2015.0                1.0                 12        984.152
1                2015.0                1.0                 13       1042.857
2                2015.0                1.0                 14       1059.192
3                2015.0                1.0                 15       1023.604
4                2015.0                1.0                 16       1012.051
...                 ...                ...                ...            ...
1689             2021.0               12.0                 24       1018.264
1690             2021.0               12.0                 27       1011.837
1691             2021.0               12.0                 28        995.767
1692             2021.0               12.0                 29       1008.924
1693             2021.0               12.0                 30        992.919

                                                                  ...  \
           1-2       2-3       3-4       4-5       5-6       6-7  ...
0     1015.181  1055.187  1185.200  1355.573  1431.740  1466.060  ...
1     1050.584  1072.618  1203.438  1355.291  1448.129  1489.234  ...
2     1064.702  1094.258  1231.532  1376.162  1457.407  1497.413  ...
3     1032.917  1078.832  1199.988  1350.307  1443.603  1457.273  ...
4     1029.490  1067.759  1180.419  1342.980  1426.390  1462.113  ...
...        ...       ...       ...       ...       ...       ...  ...
1689  1049.025  1142.709  1271.025  1390.325  1438.169  1431.008  ...
1690  1030.810  1146.376  1291.603  1392.575  1458.083  1446.064  ...
1691  1032.567  1139.157  1264.597  1382.961  1444.243  1458.841  ...
1692  1030.387  1119.044  1248.181  1349.194  1415.012  1438.131  ...
1693  1026.651  1095.223  1202.907  1311.243  1365.853  1378.325  ...

     Томская область                                                    \
               14-15     15-16     16-17     17-18     18-19     19-20
0           1162.349  1163.115  1152.333  1140.983  1113.333  1070.993
1           1164.826  1168.696  1165.036  1145.570  1120.000  1081.165
2           1154.618  1150.090  1136.027  1115.724  1087.660  1046.584
3           1132.486  1140.015  1130.318  1111.708  1081.851  1043.472
4           1140.153  1135.696  1122.354  1105.242  1084.019  1046.988
...              ...       ...       ...       ...       ...       ...
1689        1125.303  1110.447  1093.126  1078.509  1048.383  1015.376
1690        1131.666  1116.193  1100.192  1075.429  1037.904  1001.588
1691        1105.055  1095.734  1081.701  1058.223  1021.552   983.458
1692        1077.959  1067.549  1057.635  1038.881  1009.678   972.172
1693        1122.096  1113.794  1108.568  1091.101  1061.099  1021.241


         20-21     21-22    22-23    23-24
0     1024.949   983.753  963.122  950.927
1     1039.553  1000.375  975.276  957.078
2     1000.870   958.277  935.343  926.203
3      992.699   950.773  925.841  915.030
4     1001.786   960.981  938.148  925.384
...        ...       ...      ...      ...
1689   983.995   962.832  950.288  943.845
1690   963.300   941.575  928.440  922.154
1691   950.118   928.212  916.811  911.161
1692   941.007   915.058  899.555  894.986
1693   985.298   957.470  940.561  932.425

[1694 rows x 291 columns]